# Vscode
.vscode/
.vscode-test/

# Private folders
./config/
./data/

# Cache
__pycache__/

# Config files
.venv
core/core.env
config.json
.secret_key

# Docker compose
docker-compose/*.yml
docker-compose/docker-compose.runtime.yml
docker-compose.override.yml