# Vscode
.vscode/
.vscode-test/

# macOS
.DS_Store


# Private folders
config/
data/

# Cache
__pycache__/

# Config files
.venv
core/core.env
config.json
.secret_key

# Docker compose
docker-compose/*.yml
docker-compose/docker-compose.runtime.yml
docker-compose.override.yml

# WP CLI
core/wp/wp-cli.phar

# Archive and backup files
*.tar.gz
*.zip
*.tar
.sql
*.sql.gz