colorama==0.4.6
jsons==1.6.3
python-on-whales==0.76.1
questionary==2.1.0
random-password-generator==2.2.0
requests==2.32.3
rich==14.0.0
pytest==8.3.5
pytest-env==1.1.4
python-crontab==3.2.0
inquirer==3.4.0
humanize==4.12.3
tabulate==0.9.0
psutil==7.0.0
tqdm==4.67.1
click==8.2.0
passlib==1.7.4
semver==3.0.4