# WP Docker Core Configuration
DEV_MODE=false
DEBUG_MODE=false
PROJECT_NAME=wpdocker
CORE_RUNTIME_IMAGES=python:3.10-slim
CORE_RUNTIME_CONTAINER_NAME=wpdocker-python-runtime
INSTALL_DIR=/opt/wp-docker
DOCKER_NETWORK=wpdocker_net

# Folder
CONFIG_DIR=/opt/wp-docker/config
CORE_DIR=/opt/wp-docker/core
CORE_BACKEND_DIR=/opt/wp-docker/core/backend 
CORE_OBJECTS_DIR=/opt/wp-docker/core/objects
CORE_BOOTSTRAP_DIR=/opt/wp-docker/core/bootstrap
TEMPLATES_DIR=/opt/core/templates

# MySQL Environment
MYSQL_CONTAINER_NAME=wpdocker_mysql
MYSQL_IMAGE=mariadb:10.11
MYSQL_VOLUME_NAME=wpdocker_mysql_data
