# WP Docker Core Configuration
DEV_MODE=false
DEBUG_MODE=false
PROJECT_NAME=wpdocker
INSTALL_DIR=/opt/wp-docker
DOCKER_NETWORK=wpdocker_net

# Folder
CONFIG_DIR=/opt/wp-docker/config
CORE_DIR=/opt/wp-docker/core
CORE_BACKEND_DIR=/opt/wp-docker/core/backend 
CORE_OBJECTS_DIR=/opt/wp-docker/core/objects
CORE_BOOTSTRAP_DIR=/opt/wp-docker/core/bootstrap
TEMPLATES_DIR=/opt/core/templates
SITES_DIR=/opt/wp-docker/data/sites

# MySQL Environment
MYSQL_CONTAINER_NAME=wpdocker_mysql
MYSQL_VOLUME_NAME=wpdocker_mysql_data

# NGINX
NGINX_CONTAINER_NAME=wpdocker_nginx
NGINX_IMAGE_NAME=thachpn165/wpdocker-openresty
NGINX_CONTAINER_PATH=/usr/local/openresty/nginx
NGINX_CONTAINER_CONF_PATH=/usr/local/openresty/nginx/conf
NGINX_HOST_VHOST_CONF=/opt/wp-docker/data/nginx/conf.d

# Redis 
REDIS_CONTAINER_NAME=wpdocker_redis
REDIS_IMAGE=redis:alpine

# WordPress 
WPCLI_CONTAINER_NAME=wpdocker_wpcli
